.MuiPaper-root {
  top: 50px !important;
}

.footer {
  padding: 0px 25px;
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  color: white;
}

.p-25 {
  padding: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}
